.our-partners {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-partners .apply-partnership {
  margin: 0 auto;
  background-color: #3c2a21 !important;
  margin-top: 20px;
}


.our-partners h2{
    text-align: center;
    font-size: 2rem;
    color: rgb(139, 104, 58);
  }

.image_wrapper {
  margin: 0px 30px;
  overflow: hidden;
}

.image_wrapper img {
  height: 120px;
  background: transparent;
  border-radius: 50%;
}

.react-fast-marquee{
  width: 100vw;
}
